<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../img/javascript.svg" />
    <title>PhotoGallery</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <div class="photo-gallery">
      <div class="photo-container">
        <img
          class="gallery-img img-1"
          src="../../img/photos/img-1.jpg"
          alt=""
        />

        <img
          class="gallery-img img-2 img-tall"
          src="../../img/photos/img-2.jpg"
          alt=""
        />

        <img
          class="gallery-img img-3 img-large"
          src="../../img/photos/img-3.jpg"
          alt=""
        />

        <img
          class="gallery-img img-4"
          src="../../img/photos/img-4.jpg"
          alt=""
        />

        <img
          class="gallery-img img-5"
          src="../../img/photos/img-5.jpg"
          alt=""
        />

        <img
          class="gallery-img img-6 img-tall"
          src="../../img/photos/img-6.jpg"
          alt=""
        />

        <img
          class="gallery-img img-7 img-wide"
          src="../../img/photos/img-7.jpg"
          alt=""
        />

        <img
          class="gallery-img img-8 img-tall"
          src="../../img/photos/img-8.jpg"
          alt=""
        />

        <img
          class="gallery-img img-9 img-large"
          src="../../img/photos/img-9.jpg"
          alt=""
        />

        <img
          class="gallery-img img-10"
          src="../../img/photos/img-10.jpg"
          alt=""
        />

        <img
          class="gallery-img img-11 img-tall"
          src="../../img/photos/img-11.jpg"
          alt=""
        />

        <img
          class="gallery-img img-12"
          src="../../img/photos/img-12.jpg"
          alt=""
        />

        <img
          class="gallery-img img-13"
          src="../../img/photos/img-1.jpg"
          alt=""
        />

        <img
          class="gallery-img img-14 img-tall"
          src="../../img/photos/img-2.jpg"
          alt=""
        />

        <img
          class="gallery-img img-15 img-large"
          src="../../img/photos/img-3.jpg"
          alt=""
        />

        <img
          class="gallery-img img-16 img-wide"
          src="../../img/photos/img-4.jpg"
          alt=""
        />

        <img
          class="gallery-img img-17"
          src="../../img/photos/img-5.jpg"
          alt=""
        />

        <img
          class="gallery-img img-18"
          src="../../img/photos/img-6.jpg"
          alt=""
        />

        <img
          class="gallery-img img-19 img-wide"
          src="../../img/photos/img-13.jpg"
          alt=""
        />
        <!-- <img
          class="gallery-img img-20"
          src="../../img/photos/img-2.jpg"
          alt=""
        /> -->
      </div>
    </div>
  </body>
</html>
