:root {
  --default-width: 240px;
  --default-height: 320px;
}

.photo-gallery {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--default-width), 1fr));
  grid-auto-rows: var(--default-height);
  /* height: 100vh; */
  align-items: center;
  justify-items: center;
  row-gap: 10px;
  column-gap: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.gallery-img {
  height: var(--default-height);
  width: var(--default-width);
  object-fit: cover;
  border-radius: 5px;
}

.gallery-img:hover,
.gallery-img:focus {
  border-radius: 5px;
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  transition: box-shadow 0.3s ease-in-out;
}

@media (min-width: 1000px) {
  .img-tall {
    height: calc(2 * var(--default-height));
    grid-row: span 2;
  }

  .img-wide {
    width: calc(2 * var(--default-width));
    grid-column: span 2;
  }

  .img-large {
    height: calc(2 * var(--default-height));
    width: calc(2 * var(--default-width));
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (max-width: 600px) {
  .photo-gallery {
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(var(--default-width) / 2), 1fr)
    );
    grid-auto-rows: calc(var(--default-height) / 2);
  }
  .gallery-img {
    height: calc(var(--default-height) / 2);
    width: calc(var(--default-width) / 2);
  }
}
