<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../img/javascript.svg" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <aside class="sidebar">
      <div class="sidebar-head">
        <!-- brand -->
        <a class="sidebar-brand">Sidebar</a>

        <!-- toggle btn -->
        <a class="sidebar-toggle-btn">
          <span class="sidebar-toggle-btn-bars"></span>
          <span class="sidebar-toggle-btn-bars"></span>
          <span class="sidebar-toggle-btn-bars"></span>
        </a>
      </div>

      <!-- sidebar list -->
      <ul class="sidebar-list">
        <li class="sidebar-item">
          <a href="" class="sidebar-link">Home</a>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link">About</a>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link">Feedback</a>
        </li>
        <li class="sidebar-item">
          <a href="" class="sidebar-link">Logout</a>
        </li>
      </ul>
    </aside>
    <script src="./sidebar.js"></script>
  </body>
</html>
