/* Poppins font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap");

/* Inter Font import */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap"); */

:root {
  /* font size */
  font-size: 62.5%;

  /* font */
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */

  /*  colors */
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --blue: #2a4a78;

  /* breakpoints */
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
}

/* body */
body {
  font-size: 1.6rem;
}

/* buttons */
.btn {
  color: white;
  background-color: var(--primary);
  font-size: 1.6rem;
  font-family: inherit;
  user-select: none;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border: 2px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  margin: 0.5rem 0.5rem;
  transition: box-shadow 0.3s ease;
}

/* button link */
.btn-link {
  display: inline-block;
  color: inherit;
  user-select: none;
  text-decoration: none;
}

/* button colors */
.btn-primary {
  background-color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
}

.btn-success {
  background-color: var(--success);
}
.btn-danger {
  background-color: var(--danger);
}

.btn-warning {
  background-color: var(--warning);
}

/* button hover */
.btn:hover {
  /* opacity: 0.7; */
  filter: brightness(0.9);
  /* box-shadow: 4px 4px 3px 0px; */
  box-shadow: 0px 0px 3px 1px;
}

.btn-success:hover {
  filter: brightness(1);
  box-shadow: 0 0 5px 3px var(--success);
}
.btn-danger:hover {
  filter: brightness(1);
  box-shadow: 0 0 5px 3px var(--danger);
}

/* container */
.container {
}

/* flex */
.d-flex {
  display: flex;
  width: 90vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* flex direction - row */
.flex-row {
  flex-direction: row;
}

/* flex direction  column */
.flex-column {
  flex-direction: column;
}

/* justify content center */
.justify-content-center {
  justify-content: center;
}

/* align items center */
.align-items {
  align-items: center;
}
