/* Poppins font import */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap"); */

/* Inter Font import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  /* font size */
  font-size: 62.5%;

  /* font */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Inter", sans-serif;

  /*  colors */
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --blue: #2a4a78;

  /* breakpoints */
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
}

body {
  font-size: 1.6rem;
}

/* buttons */
.btn {
  background-color: var(--primary);
  font-family: inherit;
  padding: 0;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0.2rem;
  transition: box-shadow 0.3s ease;
}

/* button link */

.btn-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.7rem;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}

/* button colors */

.btn-primary {
  background-color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
}

.btn-danger {
  background-color: var(--danger);
}

.btn-warning {
  background-color: var(--warning);
}

/* button hover */

.btn:hover {
  opacity: 0.7;
}

/* color - glow - effect */

/* .btn-primary:hover {
  box-shadow: 0 0 5px 2px var(--primary);
}
.btn-secondary:hover {
  box-shadow: 0 0 5px 2px var(--secondary);
}
.btn-danger:hover {
  box-shadow: 0 0 5px 2px var(--danger);
}
.btn-warning:hover {
  box-shadow: 0 0 5px 2px var(--warning);
} */
