.review {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  width: 30rem;
  padding: 1rem;
  border: 3px solid transparent;
  border-radius: 20px;
  box-shadow: 7px 10px 20px 0px grey;
  transition: box-shadow 0.3s 0.1s ease-in;
  overflow: hidden;
}

.review:hover {
  box-shadow: 20px 19px 20px 0px grey;
}

.review .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review .profile-img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 75px;
  box-shadow: 0px 0px 5px 0px grey;
}

.review .profile-name {
  font-size: 2.4rem;
  margin: 0;
}

.review .profile-role {
  font-size: 2rem;
  opacity: 60%;
  margin: 0;
}

.review .profile-review {
  font-size: 1.6rem;
  text-align: center;
}

@media (max-width: 576px) {
  .review {
    height: auto;
  }

  .profile-img {
    display: none;
  }
}
