<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../img/javascript.svg" />
    <title>review</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="review">
        <div class="profile-details">
          <!-- <img class="user-img" src="../../img/img-user.png" alt="img-user" /> -->
          <img
            class="profile-img"
            src="../../img/img-user.png"
            alt="img-user"
          />
          <h3 class="profile-name">Name</h3>
          <h5 class="profile-role">Role</h5>
        </div>
        <p class="profile-review">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis qui
          sequi dignissimos optio enim ut quis nobis consectetur, distinctio
          nulla, atque dicta voluptas repellendus ullam similique a officiis
          cumque? Nobis magnam dolore excepturi ipsam, itaque quasi nihil iusto
          cupiditate, facilis neque deserunt? Cumque eos libero corporis iure
          animi rerum ab.
        </p>
        <div class="buttons">
          <button class="btn btn-primary prev-btn"><</button>
          <button class="btn btn-primary next-btn">></button>
        </div>
      </div>
    </div>
    <script src="./review.js"></script>
  </body>
</html>
