.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--darkBlue);
  transition: height 1s ease-in;
}

.nav-head a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  margin: 1rem;
}

.nav-links {
  padding: 0;
  display: flex;
}

.nav-links li {
  display: block;
  padding: 1rem;
  border-radius: 5px;
  list-style: none;
}

/*  */
.nav-links li:hover,
.nav-links li:focus {
  backdrop-filter: brightness(0.8);
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
}

.toggle-btn {
  display: none;
}

/* media queries */
@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }

  .nav-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid white;
  }

  .toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    border: none;
    background-color: transparent;
  }
  .bars {
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background-color: white;
  }

  .toggle-btn:hover .bars {
    filter: brightness(0.75);
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links a {
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }
}
