<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/javascript.svg" />
    <title>Buttons</title>

    <link rel="stylesheet" href="../essential.css" />
  </head>
  <body>
    <button class="btn">
      <a class="btn-link" href="">btn</a>
    </button>
    <button class="btn btn-primary">
      <a class="btn-link" href="">btn-primary</a>
    </button>
    <button class="btn btn-secondary">
      <a class="btn-link" href="">btn-secondary</a>
    </button>
    <button class="btn btn-danger">
      <a class="btn-link" href="">btn-danger</a>
    </button>
    <button class="btn btn-warning">
      <a class="btn-link" href="">btn-warning</a>
    </button>
    <script src="../essential.js"></script>
  </body>
</html>
