<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/javascript.svg" />
    <title>Buttons</title>

    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <button class="btn">btn</button>
    <button class="btn btn-primary">btn-primary</button>
    <button class="btn btn-secondary">btn-secondary</button>
    <button class="btn btn-success">
      <div class="glow">btn-success</div>
    </button>

    <button class="btn btn-danger">btn-danger</button>
    <button class="btn btn-warning">btn-warning</button>
    <button class="btn btn-secondary">
      <a class="btn-link" href=""><- Back</a>
    </button>
    <script src="../main.js"></script>
  </body>
</html>
