<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/javascript.svg" />
    <title>NavBar</title>
    <link rel="stylesheet" href="../essential.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="nav-head">
        <a class="nav-brand" href=""> Navbar</a>
        <button class="toggle-btn">
          <i class="fa-solid fa-bars" style="color: #ffffff"></i>
        </button>
      </div>
      <ul class="list nav-list" id="">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Feedback</a>
        </li>
        <li class="nav-item justify-self-end">
          <button class="btn btn-danger">Logout</button>
        </li>
      </ul>
    </div>
    <script
      src="https://kit.fontawesome.com/d494538c58.js"
      crossorigin="anonymous"
    ></script>
    <script src="../essential.js"></script>
  </body>
</html>
