<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../img/javascript.svg" />
    <title>NavBar</title>

    <!-- css style sheet -->
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <!-- navbars -->
    <nav class="navbar">
      <div class="nav-brand"><a href="#">NavBar</a></div>

      <!-- toggle btn -->
      <a class="toggle-btn" href="">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
      </a>

      <!-- nav links -->
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Feedback</a></li>

        <a class="btn btn-danger" href="../index.html"> Back </a>
      </ul>
    </nav>

    <script src="../script.js"></script>
  </body>
</html>
