<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../img/javascript.svg" />
    <title>Cards</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <div class="cards-container">
      <!-- card - 1 -->
      <div class="card">
        <img
          class="card-img"
          src="../../img/anime-character-img/naruto.png"
          alt="Naruto-image"
        />
        <div class="card-des">
          <h3 class="name">Naruto</h3>
          <p class="details">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            a eum atque ipsa qui molestias perferendis libero consequatur sunt
            reiciendis, dolorum maiores explicabo quos, ratione velit iure minus
            sequi. Maxime.
          </p>
        </div>
      </div>
      <!-- card - 2 -->
      <div class="card">
        <img
          class="card-img"
          src="../../img/anime-character-img/sasuke.jpg"
          alt="Sasuke-image"
        />
        <div class="card-des">
          <h3 class="name">Sasuke</h3>
          <p class="details">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            a eum atque ipsa qui molestias perferendis libero consequatur sunt
            reiciendis, dolorum maiores explicabo quos, ratione velit iure minus
            sequi. Maxime.
          </p>
        </div>
      </div>
      <!-- card - 3 -->
      <div class="card">
        <img
          class="card-img"
          src="../../img/anime-character-img/jiraiya.jpg"
          alt="jiraiya-image"
        />
        <div class="card-des">
          <h3 class="name">Jiraiya</h3>
          <p class="details">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            a eum atque ipsa qui molestias perferendis libero consequatur sunt
            reiciendis, dolorum maiores explicabo quos, ratione velit iure minus
            sequi. Maxime.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
