:root {
  --container-width: 300px;
  --container-height: 150px;
}

.heading {
  text-align: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: var(--darkBlue);
  border-radius: 8px;
}

.character-container {
  width: var(--container-width);
  height: var(--container-height);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img name"
    "img class";

  background-color: white;
  border-radius: 8px;
  margin: 1rem;
  padding: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
  transition: all 0.4s ease-in-out;
}
.character-container:hover {
  grid-template-areas:
    "img name"
    "img class"
    "des des";
  height: 250px;
  box-shadow: 4px 4px 5px black;
  color: white;
  background-color: black;
}
.character-container:hover .character-name {
  color: gold;
}
.character-container:hover .character-des {
  visibility: visible;
  bottom: 0px;
  opacity: 1;
  transition: opacity 0.4s 0.2s;
}

.character-img {
  grid-area: img;
  width: var(--container-height);
  height: var(--container-height);
  border-radius: 8px;
}

.character-name {
  grid-area: name;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}

.character-class {
  opacity: 60%;
  font-size: 1.6rem;
  text-align: center;
}

.character-des {
  font-size: 1.2rem;
  visibility: hidden;
  grid-area: des;
  position: absolute;
  margin: 0.5rem;
  bottom: 150px;
  opacity: 0;
}

@media (max-width: 600px) {
  :root {
    --container-width: 200px;
    --container-height: 100px;
  }

  .menu {
    flex-direction: column;
  }

  .character-container {
    width: var(--container-width);
    height: var(--container-height);
    padding: 5px;
  }

  .character-info {
    margin-left: 5px;
  }

  .character-container:hover {
    height: var(--container-height);
  }

  .character-container:hover .character-des {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s;
  }

  .character-container:hover .character-img {
    opacity: 0;
    visibility: none;
    transition: opacity 0.6s;
  }
  .character-container:hover .character-info {
    opacity: 0;
    visibility: none;
    transition: opacity 0.6s;
  }

  .character-img {
    visibility: visible;
    opacity: 1;
    width: var(--container-height);
    height: var(--container-height);
  }

  .character-name {
    visibility: visible;
    opacity: 1;
    font-size: 1.4rem;
  }

  .character-class {
    visibility: visible;
    opacity: 1;
    font-size: 1.2rem;
  }

  .character-des {
    font-size: 1rem;
    visibility: none;
    margin: 0.5rem;
  }
}
