<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../img/javascript.svg" />
    <title>Menu</title>
    <link rel="stylesheet" href="../../styles.css" />
  </head>
  <body>
    <section class="main">
      <article class="character-container">
        <img
          class="character-img"
          src="../../img/anime-character-img/naruto.png"
          alt=""
        />
        <div class="character-info">
          <h3 class="character-name">Naruto Uzumaki</h3>
          <h4 class="character-class">Genin</h4>
        </div>
        <p class="character-details">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam odit
          neque recusandae itaque expedita corrupti ipsam, totam commodi optio
          omnis!
        </p>
      </article>
    </section>

    <script src="./menu.js"></script>
  </body>
</html>
